
    .fe62596a3-bab0-40c4-85e0-faf71ccb39d7 .pane_messages > .label {
        display:none !important;
    }
    .fe62596a3-bab0-40c4-85e0-faf71ccb39d7 .pane_root > .label {
        
display:block !important;    }
    .fe62596a3-bab0-40c4-85e0-faf71ccb39d7 .pane_toolbar > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fe62596a3-bab0-40c4-85e0-faf71ccb39d7 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
